@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body{
    background: url("../Imagens/background_login2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
}
.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 110vh;
    background: rgba(39, 39, 39, 0.4);
}
.nav{
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100px;
    line-height: 100px;
    background: linear-gradient(rgba(39,39,39, 0.6), transparent);
    z-index: 100;
}
.nav-logo p{
    color: white;
    font-size: 25px;
    font-weight: 600;
}
.nav-menu ul{
    display: flex;
}
.nav-menu ul li{
    list-style-type: none;
}
.nav-menu ul li .link{
    text-decoration: none;
    font-weight: 500;
    color: #fff;
    padding-bottom: 15px;
    margin: 0 25px;
}
.link:hover, .active{
    border-bottom: 2px solid #fff;
}
.nav-button .btn{
    width: 130px;
    height: 40px;
    font-weight: 500;
    background: rgba(255, 255, 255, 0.4);
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: .3s ease;
}
.btn:hover{
    background: rgba(255, 255, 255, 0.3);
}
#registerBtn{
    margin-left: 15px;
}
.btn.white-btn{
    background: rgba(255, 255, 255, 0.7);
}

.btn.btn.white-btn:hover{
    background: rgba(255, 255, 255, 0.5);
}
.nav-menu-btn{
    display: none;
}

.button-link-login{
    all: unset; 
    width: 100%; 
    height: 100%; 
    display: block; 
    text-align: center; 
    line-height: 40px;
}

.button-link-register{
    all: unset; 
    width: 100%; 
    height: 100%; 
    display: block; 
    text-align: center; 
    line-height: 40px;
}


.form-box{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 512px;
    height: 420px;
    overflow: hidden;
    z-index: 2;
}

.form-box2{
    position: relative;
    display: block;
    align-items: center;
    justify-content: center;
    width: 512px;
    height: 420px;
    z-index: 2;
}


.login-container{
    position: absolute;
    left: 4px;
    width: 500px;
    display: flex;
    flex-direction: column;
    transition: .5s ease-in-out;
}
.register-container{
    position: absolute;
    right: -520px;
    width: 500px;
    display: flex;
    flex-direction: column;
    transition: .5s ease-in-out;
}
.remember-container {
    position: absolute;
    left: 0px;
    width: 500px;
    display: block;
    opacity: 1;
}

.top span{
    color: #fff;
    font-size: small;
    padding: 10px 0;
    display: flex;
    justify-content: center;
}
.top span a{
    font-weight: 500;
    color: #fff;
    margin-left: 5px;
}
header{
    color: #fff;
    font-size: 30px;
    text-align: center;
    padding: 10px 0 30px 0;
}

.reset-message {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.reset-box{
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
    height: 230px;
    width: 100%;
    padding: 20px 20px 2px;
    border: none;
    border-radius: 30px;
    outline: none;
    transition: .2s ease;
    
}

.reset-box p{
    color: #fff;
    font-size: 15px;
    text-align: center;
    padding: 2px 0 0px;
}

.reset-box #paragrafo2{
    color: #fff;
    font-size: 15px;
    text-align: center;
    padding: 2px 5px 20px;
}

.reset-box #header1{
    color: #fff;
    font-size: 30px;
    text-align: center;
    padding: 10px 10px 10px;
}


.two-forms{
    display: flex;
    gap: 10px;
}
.input-field{
    font-size: 15px;
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
    height: 50px;
    width: 100%;
    padding: 0 10px 0 45px;
    border: none;
    border-radius: 30px;
    outline: none;
    transition: .2s ease;
}
.input-field:hover, .input-field:focus{
    background: rgba(255, 255, 255, 0.25);
}
::-webkit-input-placeholder{
    color: #fff;
}
.input-box i{
    position: relative;
    top: -35px;
    left: 17px;
    color: #fff;
}
.submit{
    font-size: 15px;
    font-weight: 500;
    color: black;
    height: 45px;
    width: 100%;
    border: none;
    border-radius: 30px;
    outline: none;
    background: rgba(255, 255, 255, 0.7);
    cursor: pointer;
    transition: .3s ease-in-out;
}
.submit:hover{
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 1px 5px 7px 1px rgba(0, 0, 0, 0.2);
}
.two-col{
    display: flex;
    justify-content: space-between;
    color: #fff;
    font-size: small;
    margin-top: 10px;
}
.two-col .one{
    display: flex;
    gap: 5px;
}
.two label a{
    text-decoration: none;
    color: #fff;
}
.two label a:hover{
    text-decoration: underline;
}
@media only screen and (max-width: 786px){
    .nav-button{
        display: none;
    }
    .nav-menu.responsive{
        top: 100px;
    }
    .nav-menu{
        position: absolute;
        top: -800px;
        display: flex;
        justify-content: center;
        background: rgba(255, 255, 255, 0.2);
        width: 100%;
        height: 90vh;
        backdrop-filter: blur(20px);
        transition: .3s;
    }
    .nav-menu ul{
        flex-direction: column;
        text-align: center;
    }
    .nav-menu-btn{
        display: block;
    }
    .nav-menu-btn i{
        font-size: 25px;
        color: #fff;
        padding: 10px;
        background: rgba(255, 255, 255, 0.2);
        border-radius: 50%;
        cursor: pointer;
        transition: .3s;
    }
    .nav-menu-btn i:hover{
        background: rgba(255, 255, 255, 0.15);
    }
}
@media only screen and (max-width: 540px) {
    .wrapper{
        min-height: 100vh;
    }
    .form-box{
        width: 100%;
        height: 500px;
    }
    .register-container, .login-container{
        width: 100%;
        padding: 0 20px;
    }
    .register-container .two-forms{
        flex-direction: column;
        gap: 0;
    }


}

/*Começo do calendário*/

.calendar-container {
    width: 77%;
    margin: 120px auto 50px;
    padding: 10px;
    background: rgba(255,255,255,0.1);
    border-radius: 15px;
    color: white;
    text-align: center;
}

.month .nav-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 40px;
    background-color: rgba(20, 100, 115, 0.3);
    margin-bottom: 10px;
}

.weekdays, .days {
    display: grid;
    grid-template-columns: repeat(7, 150px);
    gap: 5px;
    padding: 0;
    min-width: 900px;
    list-style: none;
}

.weekdays li, .days li {
    padding: 10px 0;
    border-radius: 5px;
    font-size: 22px;
}

.days li {
    background: rgba(255, 255, 255, 0.1);
    cursor: pointer;
    transition: background 0.3s;
    height: 80px;    
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 10px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    font-size: 16px;
    
}

.days li:hover {
    background: rgba(255, 255, 255, 0.3);
}

.days li.today:hover {
    background: rgba(45, 255, 255, 0.3);
}

.today {
    background: #fff;
    color: rgba(26, 66, 77, 0.8);
    font-weight: bold;
    
}


@media (max-width: 500px) {
    .calendar-container {
        margin-top: 150px;
        padding: 15px;
    }

    .month .nav-buttons {
        font-size: 16px;
    }

    .weekdays li, .days li {
        font-size: 14px;
        padding: 8px 0;
    }
}


/* Final do calendário */
